<footer class="bg-slate-950 text-gray-300 py-4 px-4">
  <div class="max-w-6xl mx-auto text-center space-y-6">

    <div class="flex justify-center gap-6 text-2xl">
      <a href="https://linkedin.com/in/mahmedvillakhan" target="_blank"
        class="hover:text-indigo-400 transition-transform transform hover:scale-110">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/m-ahmedk" target="_blank"
        class="hover:text-indigo-400 transition-transform transform hover:scale-110">
        <i class="fab fa-github"></i>
      </a>
      <a href="mailto:mahmedvilla@gmail.com"
        class="hover:text-indigo-400 transition-transform transform hover:scale-110">
        <i class="fas fa-envelope"></i>
      </a>
    </div>

    <p class="text-sm text-gray-500">
      &copy; {{ currentYear }} <a href="mailto:mahmedvilla@gmail.com">Muhammad Ahmed Villa Khan</a>. All rights
      reserved.
    </p>
  </div>
</footer>