<section id="experience" class="py-16 px-6 bg-charcoal text-white">
  <div class="max-w-6xl mx-auto">
    <div class="border-l-4 border-indigo-500 pl-4 mb-10">
      <h2 class="text-3xl md:text-4xl font-bold mb-2">EXPERIENCE<span class="text-indigo-400">.</span></h2>
      <p class="text-gray-400">Below is a summary of my professional experience as a Software Engineer over the past 8+
        years.</p>
    </div>

    <!-- timeline -->
    <div class="relative">
      <div class="absolute left-1/2 transform -translate-x-1/2 h-full border-l-2 border-indigo-500"></div>

      <!-- experience 1 -->
      <div class="mb-16 flex w-full">
        <div class="w-1/2 flex justify-end pr-4 items-start">
          <div class="text-sm text-indigo-400 font-mono mt-1">Aug 2023 – Present</div>
        </div>

        <!-- right card -->
        <div class="w-1/2">
          <div class="bg-slate-900 p-6 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold text-white">
              Happy Digital LLC <span class="text-sm text-gray-400">(Software Engineer II)</span>
            </h3>
            <ul class="list-disc list-inside text-gray-300 space-y-1 mt-2">
              <li>Delivering ERP solutions for vending and NGOs at BrainCrop.</li>
              <li>Built .NET Core ERP for US & Iceland vending.</li>
              <li>Integrated 50+ machines (JOFEMAR, TCN) with real-time ERP sync.</li>
              <li>Led Node.js + MongoDB backend for live bookings, coupons, e-wallet.</li>
              <li>Shipped enterprise apps with UI/UX, backend, and frontend teams.</li>
              <li>Launched NGO ERP & scholarship portal used by 10K+ in South Asia.</li>
            </ul>
            <div class="mt-4 flex flex-wrap gap-2">
              <span class="flex items-center gap-1 text-sm bg-white px-2 py-1 rounded">
                <img src="/assets/dotnet.svg" class="w-4 h-4"> <span class="text-black">.NET Core</span>
              </span>
              <span class="flex items-center gap-1 text-sm bg-white px-2 py-1 rounded">
                <img src="/assets/postgresql.svg" class="w-4 h-4"> <span class="text-black">SQL Server</span>
              </span>
              <span class="flex items-center gap-1 text-sm bg-white px-2 py-1 rounded">
                <img src="/assets/angular.svg" class="w-4 h-4"> <span class="text-black">Angular</span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- experience 2 -->
      <div class="mb-16 flex w-full flex-row-reverse">
        <div class="w-1/2 flex justify-start pl-4 items-start">
          <div class="text-sm text-indigo-400 font-mono mt-1">Mar 2020 - Present</div>
        </div>

        <!-- left card -->
        <div class="w-1/2">
          <div class="bg-slate-900 p-6 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold text-white">
              BrainCrop Solutions <span class="text-sm text-gray-400">(Team Lead)</span>
            </h3>
            <ul class="list-disc list-inside text-gray-300 space-y-1 mt-2">
              <li>Led WooCommerce multisite - 12+ subdomains and dashboards.</li>
              <li>Built sync service for 4+ databases, cutting manual entry by 80%.</li>
              <li>Created SchoolWare ERP for 3+ schools + Parent & Admission portals.</li>
              <li>Designed & Enabled custom school rules; no affect in shared modules.</li>
            </ul>
            <div class="mt-4 flex flex-wrap gap-2">
              <span class="flex items-center gap-1 text-sm bg-white px-2 py-1 rounded">
                <img src="/assets/nodedotjs.svg" class="w-4 h-4"> <span class="text-black">Node.js</span>
              </span>
              <span class="flex items-center gap-1 text-sm bg-white px-2 py-1 rounded">
                <img src="/assets/git.svg" class="w-4 h-4"> <span class="text-black">GitHub Actions</span>
              </span>
              <span class="flex items-center gap-1 text-sm bg-white px-2 py-1 rounded">
                <img src="/assets/linux.svg" class="w-4 h-4"> <span class="text-black">Linux</span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- experience 3 -->
      <div class="mb-16 flex w-full">
        <div class="w-1/2 flex justify-end pr-4 items-start">
          <div class="text-sm text-indigo-400 font-mono mt-1">Oct 2016 – Mar 2020</div>
        </div>

        <!-- right card -->
        <div class="w-1/2">
          <div class="bg-slate-900 p-6 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold text-white">
              BrainCrop Solutions <span class="text-sm text-gray-400">(Software Engineer I)</span>
            </h3>
            <ul class="list-disc list-inside text-gray-300 space-y-1 mt-2">
              <li>Built Smart School ERP with 15+ modules (staff, cafeteria, academics).</li>
              <li>Implemented RFID-based attendance with real-time validation.</li>
              <li>Launched parent portal with live alerts for attendance, exams, and fees.</li>
              <li>Developed SAP Crystal Reports for different modules.</li>
            </ul>
            <div class="mt-4 flex flex-wrap gap-2">
              <span class="flex items-center gap-1 text-sm bg-white px-2 py-1 rounded">
                <img src="/assets/dotnet.svg" class="w-4 h-4"> <span class="text-black">.NET Core</span>
              </span>
              <span class="flex items-center gap-1 text-sm bg-white px-2 py-1 rounded">
                <img src="/assets/postgresql.svg" class="w-4 h-4"> <span class="text-black">SQL Server</span>
              </span>
              <span class="flex items-center gap-1 text-sm bg-white px-2 py-1 rounded">
                <img src="/assets/angular.svg" class="w-4 h-4"> <span class="text-black">Angular</span>
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>